/* google font styles */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
}
header, main {
    max-width: 1170px;
    margin: 0 auto;
}
.orange {
    color: #FF5400;
}
.light-white {
    color: #FFF;
}
.description {
    font-size: 1rem;
    font-weight: 400;
}
.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.description-color-1 {
    color: rgba(19, 19, 24, 0.70);
}
.description-color-2 {
    color: #5A5A5D;
}
.btn-primary {
    color:#FFF;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 35px;
}
.line {
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin-bottom: 10px;
}

/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;  
}
.logo {
    display: flex;
}
.logo img {
    width: 48px;
    height: 56px;
    margin-top: 1.5rem;
}
.logo h1 {
    margin-left: 1rem;
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}
/* menu styles */

.menu-section>ul {
    display: flex;
    list-style: none;    
}
.menu-section li {
    margin-left: 2.8rem;
    margin-top: 25px;
}
.menu-section a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

/* main section start */

/* banner section styles */
.banner-container {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 106px;

}
.banner-content {
    text-align: center;
    padding: 50px 185px 50px 185px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.form-section {
    margin-bottom: 50px;
}
.form-section form {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 185px;

}
form .input-width {
    width: 10.9rem;
    height: 3.25rem;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}
form .find-now {
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
}
   
/* popular tour section styles */

.popular-container {
    display: flex;
    margin: 100px 0;
    gap: 50px;
}
.popular-container li {
    margin-top: 30px;
}
/* destination section styles */
.destination-content {
    text-align: center;
    margin-bottom: 30px;
}
.destination-img-container {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 40px;
    margin-bottom: 100px;

}
.img-title {
    font-size: 28px;
    font-weight: 800;
}
.img-box {
    position: relative;
    text-align: center;
    color: #FFF;
}
.text-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Choos us section styles */
.choose-us-content {
    text-align: center;
}
.choose-card-container {
    margin-top: 30px;
    margin-bottom: 100px;
}
.card-1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 500px;
    height: 200px;
    padding: 30px;
}
.card-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 500px;
    height: 200px;
    padding: 30px;
}
.card-3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 500px;
    height: 200px;
    padding: 30px;
}

.choose-card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}
.card-icon {
    font-size: 60px;
    color: rgb(55, 175, 81);
}

/* pefect place section styles */

.perfect-place-section{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 100px;
}
.perfect-place-content li {
    margin-bottom: 20px;
}
video {
    width: 50%;
    height: 326px;
    border-radius: 10px;
}
/* expert-section */
.expert-section {
    display:flex;
    justify-content:space-between;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding : 50px 30px;
    margin-bottom: 100px;
}

/* newsletter section styles */

.newsletter-section {
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
    
}

.newsletter-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 40%;
    border: 1px solid #FF5400;
    border-radius: 16px;
}
.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.newsletter-form input {
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 20px;
}
.newsletter-img {
    background: url(../Images/Rectangle\ 8\ \(1\).png);
    width: 60%;
    background-repeat: no-repeat;
    border-radius: 16px;
    position: relative;
}
.newsletter-img-overtext {
    background-color: #FF5400;
    border-radius: 16px;
    text-align: center;
    position: absolute;
    position: absolute;
    bottom: 10%;
    right: 3%;
    transform: rotate(-20deg);
    padding: 0 30px;
   
}
.newsletter-img-overtext p {
    font-size: 1.5rem;
    font-weight: 400;
}
.newsletter-img-overtext h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 800;
    
}

/* footer section */

.footer-section {
    background: rgba(19, 19, 24, 0.10);
    padding: 110px 284px;
    text-align: center;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 40px;
    height: 56px;
    margin-top: 1.5rem;
}
.footer-logo h1 {
    margin-left: 1rem;
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 30px;
}
.footer-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px;
}

/* meadia query */

/* mobile device */


    @media screen and (max-width: 600px) {
        nav,
        .menu-section> ul,
        .popular-container,
        .perfect-place-section,
        .newsletter-section,
        .expert-section {
            flex-direction: column;
        }
        .form-section form {
            grid-template-columns: repeat(1,1fr);
        }
        .menu-section li,
        .form-section form {
            margin: 0;
        }
        .banner-content,
        .form-section form ,
        .banner-container,
        .popular-container,
        .choose-us-section,
        nav,
        .banner-container,
        .destination-section,
        .perfect-place-section,
        .newsletter-section,
        .footer-section{
            padding: 10px;
        }
    
        .form-section form .input-width,
        .img-box img,
        video,
        .newsletter-form-container {
            width: 100%;
        }
        video {
            height: 210px;
        }
        .newsletter-img {
            height: 100%;
        }
        .newsletter-img {
             width: 100%;
            height: 370px;
         }
    }
    


