/* google font styles */
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    font-family: 'Mulish', sans-serif;
}
body {
    max-width: 1170px;
    margin: 0 auto;
}
.orange {
    color: #FF5400;
}
.light-white {
    color: #FFF;
}
.description {
    font-size: 1rem;
    font-weight: 400;
}
.section-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.description-color-1 {
    color: rgba(19, 19, 24, 0.70);
}
.description-color-2 {
    color: #5A5A5D;
}
.btn-primary {
    color:#FFF;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    font-size: 20px;
    font-weight: 800;
    padding: 15px 35px;
}

/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;  
}
.logo {
    display: flex;
}
.logo img {
    width: 48px;
    height: 56px;
    margin-top: 1.5rem;
}
.logo h1 {
    margin-left: 1rem;
    color: #131318;
    font-size: 2.2rem;
    font-weight: 800;
}
/* menu styles */

.menu-section>ul {
    display: flex;
    list-style: none;    
}
.menu-section li {
    margin-left: 2.8rem;
    margin-top: 25px;
}
.menu-section a {
    text-decoration: none;
    color: #424247;
    font-size: 1.2rem;
    font-weight: 400;
}

/* main section start */

/* banner section styles */
.banner-container {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 106px;

}
.banner-content {
    text-align: center;
    padding: 50px 185px 50px 185px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.form-section {
    margin-bottom: 50px;
}
form {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;
    justify-content: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 185px;

}
form .input-width {
    width: 10.9rem;
    height: 3.25rem;
    border: none;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
}
form .find-now {
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
}
   
/* popular tour section styles */

.popular-container {
    display: flex;
    margin: 100px 0;
    gap: 50px;
}
.popular-container li {
    margin-top: 30px;
}



/* meadia query */

/* mobile device */

@media screen and (max-width: 600px) {
    nav,
    .menu-section> ul,
    .popular-container {
        flex-direction: column;
    }
    form {
        grid-template-columns: repeat(1,1fr);
    }
    .menu-section li,
    form {
        margin: 0;
    }
    .banner-content,
    form ,
    .banner-container,
    .popular-container {
        padding: 10px;
    }
    /* .banner-title {
        font-size: 22px;
    } */
    form .input-width {
        width: 100%;
    }
}
